@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@media screen and (min-width: 768px) {
  * {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .maincontainer {
    background-color: #f1f5fa;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
    height: 10%;
  }

  .logo {
    padding-left: 50px;
    margin-top: 12px;
    color: #6070ff;
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    padding-top: 0;
  }

  .menu {
    display: none;
  }

  .nav_items {
    padding-right: 50px;
    font-weight: 700;
    font-size: 18px;
    padding-top: 0;
  }

  .nav_items .item .link {
    padding-left: 20px;
    text-decoration: none;
    color: #344563;
  }

  .nav_items .item .link:hover {
    color: #6070ff;
  }

  .infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("images/desktop-images/deskBackground-Home.png");
    background-repeat: no-repeat;
    background-size: cover;
    align-items: flex-start;
    height: 100vh;
  }

  .infos h1 {
    font-size: 40px;
    font-weight: 700;
    color: #172b4d;
    width: 450px;
    line-height: 52px;
    padding-top: 2px;
    margin: 0 260px;
    margin-top: 15px;
  }

  .infos p {
    color: #344563;
    font-weight: 400;
    font-size: 1.2rem;
    padding-top: 2px;
    margin: 0 260px;
    margin-top: 15px;
  }

  .infos a {
    text-decoration: none;
  }

  .connect {
    font-size: 16px;
    color: #7f8cff;
    margin-bottom: 20px;
    font-weight: 100;
    margin-right: 260px;
    margin-left: 260px;
    margin-top: 15px;
  }

  ul {
    display: flex;
    list-style: none;
  }

  .icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 170.17px;
    margin: 0 260px;
    margin-top: 15px;
  }

  .leftblock .icons {
    margin: 0;
  }

  #workcontainer {
    margin: 142px 24px;
  }

  .container {
    display: flex;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    padding: 14px;
    gap: 46px;
    margin: 60px 142px;
  }
  /*window popup*/
  .mobile_window {
    margin: 0;
    display: flex;
    padding-top: 2rem;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    position: fixed;
    background-color: rgba(180, 180, 180, 0.5);
    z-index: 1000;
  }
  

  .navigation-links{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 20px;
      
  }

  .navigation-links button {
    margin-top: 0;
  }

  .container2{
    display: flex;
    background-color: #fff;
    justify-content: center;
    align-content: center;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    padding: 14px;
    gap: 46px;
    max-width: 60vw;
    max-height: 90vh;
  

  }
   .popup_head {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
  }

  .popup_img_div {
    height: 50%;
    width: 100%;
  }

  .popup_description {
    width: 65%;
  }

  .popup_img_div img {
    height: 100%;
    width: 100%;
  }
  
  .source {
    width: 154px;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 2px solid #6070ff;
    color: #6070ff;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    padding: 8px;
  }

  .closepopup{
    display: flex;
    align-self: flex-end;
    color: #67798E;
    font-size: 26px;
    font-weight: lighter;

  }


  .flex {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    gap:2px;
  }

/*  .winUp {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100vh;
    padding: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(91 123 170 / 67.8%);
    font-family: "Poppins", sans-serif;
    backdrop-filter: blur(10px);
    transition: right 0.3s ease;
    display: none;
    z-index: 2000;
  }
  
  .windowPopup {
    width: 80%;
    height: 620px;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255 255 255);
    font-family: "Poppins", sans-serif;
    border-radius: 22px;
    transition: right 0.3s ease;
  }*/
/*end of window pop up*/
  .container1 {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #dfe1e6;
    padding: 14px;
    gap: 46px;
    margin: 60px 142px;
  }

  .snapshoot {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .snapshootcard {
    width: 50%;
    height: 448px;
    border-radius: 8px;
  }

  .project_photo {
    display: none;
  }

  .popup_project_photo {
   width: 100%;
  }
  .position{
    display: flex;
    justify-content: space-between; 
   
  }
  .position1{
    margin: 20px 0;
    display: grid;
    grid-template-columns: auto auto auto;
  }

  .projects2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .container1 .snapshootcard {
    order: 2;
  }

  .container1 .projects2 {
    order: 1;
  }

  .projects2 h4 {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #344563;
    margin-top: 0;
    font-family: "Poppins", sans-serif;
  }

  .project_description {
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 15px;
    gap: 20px;
  }

  .project_description .elements1 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    list-style: none;
  }

  .project_description .elements2 {
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
    list-style: none;
  }

  .bullet1 {
    width: 100%;
    height: 8px;
  }

  .bullet2 {
    width: 100%;
    height: 8px;
  }

  .project_requirement {
    margin: 12px 0 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  #ptag {
    font-size: 12px;
    width: 85%;
  }

  .languages2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
  }

  .languages1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    gap: 20px;
    flex-wrap: wrap;
  }

  .languages1 .lang1 {
    width: 53px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages1 .lang2 {
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages1 .lang3 {
    width: 95px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages2 .lang1 {
    width: 53px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages2 .lang2 {
    width: 40px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages2 .lang3 {
    width: 95px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .languages2 .lang4 {
    width: 120px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    color: #6070ff;
    background: #ebebff;
  }

  .snapshoot1 {
    display: flex;
    padding: 24px;
    border-radius: 8px;
    order: 2;
  }

  .snapshootimg {
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  .btn {
    width: 124px;
    height: 48px;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    border: 2px solid #6070ff;
    color: #6070ff;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    padding-left: 12px;
  }

  .btn:hover {
    top: 12px;
    background: #6070ff;
    box-shadow: 0 8px 16px #172b4d;
    color: #fff;
  }

  .btn:active {
    top: 12px;
    background: #2230d2;
    box-shadow: 0 8px 16px #172b4d;
    color: #fff;
  }

  #aboutcontainer {
    display: flex;
    background-image: url("images/desktop-images/about-desk.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

  .about_content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .leftblock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 50%;
    margin-left: 100px;
  }

  .drop_menu {
    margin: 0 24px;
    margin-right: 36px;
    width: 50%;
  }

  .title {
    display: flex;
    align-items: center;
    width: 327px;
    height: 101px;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #172b4d;
  }

  .about_description {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #344563;
    margin: 12px 0;
  }

  #aboutcontainer a {
    text-decoration: none;
  }

  .connect1 {
    font-size: 16px;
    line-height: 24px;
    height: 24px;
    color: #7f8cff;
    margin-top: 30px;
    margin-bottom: 20px;
    font-style: normal;
    font-weight: 100;
  }

  .connect1:hover {
    color: #6070ff;
  }

  .connect1:active {
    color: #2230d2;
  }

  .btn1 {
    width: 180px;
    height: 58px;
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    border: 2px solid #6070ff;
    color: #6070ff;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 8px;
    margin-top: 24px;
    padding: 14px;
  }

  .btn1:hover {
    top: 12px;
    background: #6070ff;
    box-shadow: 0 8px 16px #172b4d;
    color: #fff;
  }

  .btn1:active {
    top: 12px;
    background: #2230d2;
    box-shadow: 0 8px 16px #172b4d;
    color: #fff;
  }

  .menu1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 20px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
  }

  .menu1 p {
    font-size: 20px;
  }

  .programming_languages {
    display: flex;
    flex-direction: row;
  }

  .programming_languages3 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
  }

  #frameworks {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  #skills {
    margin-top: 20px;
    padding: 10px;
    border-bottom: 1px solid lightgray;
  }

  .items1 {
    background: #f7f7f9;
    border-radius: 8px;
    margin: 0 12px;
    width: 105px;
    padding: 10px 30px 15px 5px;
  }

  .items2 {
    background: #f7f7f9;
    border-radius: 8px;
    margin: 0 12px;
    width: 100px;
    padding: 10px 30px 15px 10px;
  }

  .items3 {
    background: #f7f7f9;
    border-radius: 8px;
    width: 100px;
    margin: 0 12px;
    padding: 10px 30px 15px 10px;
  }

  #contactcontainer {
    display: flex;
    background-image: url(images/desktop-images/contact-desk.png);
    background-size: cover;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .contact_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 142px;
    width: 801px;
  }

  .contact_title {
    display: flex;
    align-items: center;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
    color: #fff;
  }

  .contact_description {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #ebebff;
    margin-top: 10px;
    width: 569px;
    font-style: normal;
    font-weight: 250;
  }

  .formcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 40px;
  }

  .label {
    color: white;
    margin: 8px 0 2px;
  }

  .inputs {
    height: 48px;
    padding: 10px;
    font-size: 17px;
    line-height: 20px;
    color: #172b4d;
    border: 1px solid #dcd6cf;
    width: 447px;
    margin-top: 27px;
  }

  .input_msg {
    padding: 5px 5px 0;
    font-size: 15px;
    line-height: 24px;
    color: #797878;
    border: 1px solid #cfd8dc;
    letter-spacing: 2px;
    margin-top: 27px;
  }

  .btn2 {
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #6070ff;
    width: 140px;
    height: 58px;
    margin-top: 20px;
    background: #fff;
    border-radius: 8px;
    border: none;
    padding: 10px;
    margin-left: 150px;
    margin-bottom: 139px;
  }

  .btn2:hover {
    top: 12px;
    background: #6070ff;
    box-shadow: 0 8px 16px #172b4d;
    border: 1px solid #fff;
    color: #fff;
  }

  .btn2:active {
    top: 12px;
    background: #2230d2;
    border: none;
  }

  .poppins {
    color: #344563;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
  }
}
