@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.maincontainer {
  background-color: #f1f5fa;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

header a {
  color: #6070ff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  padding-top: 0;
}

.logo {
  padding-left: 24px;
  margin-top: 24px;
}

.menu {
  padding-right: 24px;
  margin-top: 24px;
  display: block;
  padding-left: 140px;
}

.infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 30px;
  height: 718px;
  width: 100%;
  background-image: url("images/mbTemplate.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.infos h1 {
  font-size: 40px;
  font-weight: 700;
  color: #172b4d;
  width: 327px;
  height: 150px;
  line-height: 52px;
  padding-right: 26px;
  padding-bottom: 12px;
}

.logo a {
  display: flex;
  color: #6070ff;
  font-size: 40px;
  font-size: 18px;
  line-height: 20px;
  width: 76px;
  height: 20px;
  left: 12px;
  top: 24px;
}

.infos p {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  width: 327px;
  height: 146px;
  padding-top: 12px;
  padding-right: 5px;
}

.infos a {
  text-decoration: none;
}

.connect {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  color: #7f8cff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 100;
}

ul {
  display: flex;
  list-style: none;
}

.icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 170.17px;
  margin-top: 12px;
}

#workcontainer {
  display: grid;
  min-height: 100vh;
  padding-top: 12px;
  margin-right: 0;
  margin-left: 0;
}

.container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  background-color: #fff;
  border-radius: 16px;
  border: 1px solid #dfe1e6;
  position: static;
  margin: 50px auto;
  padding: 14px;
}

.project_photo {
  position: static;
  width: 295px;
  height: 220px;
  left: 16px;
  top: 16px;
  margin: 12px 0;
}

.projects {
  width: 295px;
  height: auto;
  margin-top: 15px;
}

.projects h4 {
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  color: #172b4d;
  margin-top: 0;
}

.project_description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-top: 15px;
}

.project_description .elements {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  list-style: none;
}

.bullet {
  width: 8px;
  height: 8px;
  left: 67px;
  top: 12px;
}

.project_requirement {
  margin: 12px 0;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
}

.languages {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 80%;
  list-style: none;
  float: initial;
}

.languages .lang1 {
  float: left;
  width: 53px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.languages .lang2 {
  float: left;
  width: 40px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.languages .lang3 {
  float: right;
  width: 95px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: #6070ff;
  background: #ebebff;
}

.btn {
  width: 124px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.btn:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.btn:active {
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

#aboutcontainer {
  display: grid;
  padding: 150px 30px 150px 30px;
  background-image: url("images/aboutbackgroundmobile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top right;
}

.about_content {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: auto;
}

.title {
  display: flex;
  align-items: center;
  width: 327px;
  height: 101px;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
}

.about_description {
  position: static;
  width: 370px;
  height: 144px;
  left: 0;
  top: 113px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  margin: 12px 0;
}

#aboutcontainer a {
  text-decoration: none;
}

.connect1 {
  font-size: 16px;
  line-height: 24px;
  height: 24px;
  color: #7f8cff;
  margin-top: 30px;
  margin-bottom: 20px;
  font-style: normal;
  font-weight: 100;
}

.connect1:hover {
  color: #6070ff;
}

.connect1:active {
  color: #2230d2;
}

.btn1 {
  width: 180px;
  height: 48px;
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: 0.03em;
  border: 2px solid #6070ff;
  color: #6070ff;
  background-color: #fff;
  box-sizing: border-box;
  border-radius: 8px;
  margin-top: 24px;
  padding-left: 12px;
}

.btn1:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.btn1:active {
  top: 12px;
  background: #2230d2;
  box-shadow: 0 8px 16px #172b4d;
  color: #fff;
}

.menu1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 20px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
}

.programming_languages {
  display: flex;
  flex-direction: column;
}

#frameworks {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

#skills {
  margin-top: 20px;
  padding: 10px;
  border-bottom: 1px solid lightgray;
}

.items {
  float: left;
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #f7f7f9;
  border-radius: 10px;
  margin: 10px;
}

.icon {
  margin-right: 20px;
}

.poppins {
  color: #344563;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
}
#contactcontainer {
  background-image: url(images/Contactme.png);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 2;
  margin-top: -70px;
  padding: 100px 20px 0;
  height: 730px;
}

.contact_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
  margin-top: -70px;
  margin-left: 20px;
  height: 351px;
}

.contact_title {
  display: flex;
  align-items: center;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #fff;
  top: 4734px;
  padding-right: 20px;
}

.contact_description {
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #ebebff;
  margin-top: 5px;
  width: 327px;
  font-style: normal;
  position: static;
  font-weight: 250;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 130px;
  height: 102px;
  top: 3000px;
}

#input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  height: 396px;
  margin-top: -105px;
  padding-left: 28px;
  padding-right: 28px;
  padding-top: 50px;
}

.label {
  color: white;
  margin: 8px 0 2px;
}

.inputs {
  height: 48px;
  padding: 10px;
  font-size: 17px;
  line-height: 20px;
  color: #172b4d;
  border: 1px solid #dcd6cf;
  border-radius: 8px;
  margin-bottom: 10px;
  outline: none;
}

.input_msg {
  padding: 5px 5px 0;
  font-size: 15px;
  line-height: 24px;
  color: #797878;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  outline: none;
  letter-spacing: 2px;
}

.btn2 {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  width: 140px;
  height: 58px;
  left: 24px;
  margin-top: 20px;
  background: #fff;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.btn2:hover {
  top: 12px;
  background: #6070ff;
  box-shadow: 0 8px 16px #172b4d;
  border: 1px solid #fff;
  color: #fff;
}

.btn2:active {
  top: 12px;
  background: #2230d2;
  border: none;
}

.footerline {
  position: static;
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin-top: 40px;
  margin-left: 100px;
}

.ellipse2 {
  position: absolute;
  width: 40px;
  height: 85px;
  margin-top: -50px;
  left: 337px;
  background-image: url(images/Ellipse3.png);
}

.rectangular1 {
  position: absolute;
  width: 64.7px;
  height: 17.21px;
  left: 310px;
  top: 4815.4px;
  background: #7f8cff;
  transform: rotate(-23.18deg);
}

.rectangular2 {
  position: absolute;
  width: 70px;
  height: 17.21px;
  left: 270px;
  top: 5440.4px;
  background: #7f8cff;
  transform: rotate(36deg);
}

.circle1 {
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 12px;
  left: 153px;
  top: 4830px;
  background: #7f8cff;
}

.circle2 {
  position: absolute;
  width: 31.11px;
  height: 31.11px;
  left: 267.74px;
  top: 5448.27px;
  border-radius: 17px;
  background: #fff;
  transform: rotate(48.94deg);
}
© 2022 GitHub, Inc.
Terms
Privacy

